.App {
  border-radius: 1em;
  padding: 2rem;
  background: #ffffff;
  width: 90vw;
  max-width: 700px;
  box-shadow: 3px 3px 5px rgb(170, 171, 191);
}

.App h1{
  text-align: center;
  color: #3342b6;
  font-family: 'Karla', sans-serif;
 
}